.App{
  background-color: #252d4a;
  width: 450px;
  min-height: 200px;
  height: min-content;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 10px 10px 42px 0px rgba(0, 0, 0, 0.75);
  display: flex;
  justify-content:left
}
.questionsection{
  font-size: 20px;
  font-weight: bold;
}
.spann{
  font-size: 25px;
}
button{
  
    width: 50%;
    font-size: 16px;
    color: whitesmoke;
    background-color: #252d4a;
    border-radius: 15px;
    display: flex;
    padding: 5px;
    justify-content:right;
    border: 5px solid #234668;
    cursor: pointer;
    align-items: center;
  
  
  
}
.score {
  display: flex;
  font-size: 24px;
  align-items: center;
}