.App {
     display: flex;
     min-height: 100vh;
     justify-content: center;
     align-items:center;
     background-color: #282c34;
     color:rgb(216, 81, 130);
}
.container{
  display:flex;
  height: 80vh;
  border:1px solid grey;
  padding: 20px;
  flex-direction: column;
  align-items: center;
  font-size: 20px;
}
.todoform{
  display: flex;
  justify-content: space-around;
width: 450px;
}
input{
  width:80%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  color: black;
  background-color:lightblue
}
button{
  border-radius: 10px;
  border:none;
  padding:10px;
  margin:0 10px;
}
.alltodos{
  margin:0;
  padding:0;
  list-style: none;


}
.Singletodo{
  border-radius: 50px;
  background-color:rgb(40, 2, 146);
  width: 400px;
  margin:10px 0;
  display:flex;
  align-items: center;
  padding: 10px 20px;
  color: rgb(167, 79, 108);
  font-weight: bold;
}
.todotext{
  flex: 1;
}
.edit{
  background-color: rgb(237, 188, 96);
  font-weight: bold;
}
.delete{
  background-color: rgb(245, 60, 60);
  font-weight: bold;
}